@font-face {
	font-family: "OpenSans";
	src: url("/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("opentype");
}

@font-face {
	font-family: "OpenSans-Italic";
	src: url("/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("opentype");
}

@font-face {
	font-family: "Amiri";
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: local("Amiri-Regular"), url("/fonts/Amiri/Amiri-Regular.ttf") format("opentype");
}
