@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

img {
	display: block;
}

body {
	margin: 0;
	padding: 0;
}

.max-container {
	@apply xl:max-w-[1140px] xl:mx-auto;
}

button,
a {
	@apply cursor-pointer;
}

input {
	@apply cursor-pointer border-2 border-primary py-1.5 px-2.5 min-w-56 w-full;
}

label {
	@apply w-full;
}
